<!DOCTYPE html>
<html lang="en" class="<%= TheLeanCafe.Background.for(@view_module, @view_template) %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to The Lean Cafe!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.css">

    <!-- x-editable (bootstrap version) -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script>
    window.makeTopicsEditable = (function () {
      $.fn.editable.defaults.mode = 'inline';
      $(".topic-name").editable({
        type: "text",
        mode: "inline",
        escape: false,
        url: function(params) {
            window.channel.push('rename_topic', {body: params.value, id: params.pk})
        }
      });
    });
    </script>
  </head>

  <body>
    <div "container-fluid" style="height: 100vh;">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main" class="row fill">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
