.current-topic-form {
  visibility: hidden;
}

html {
  height: 100%;
  margin:0px;
}

body {
  min-height: 100%;
  margin: 0px;
  background-color: transparent;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: 'Josefin Slab', serif;
}


.cafebg {
  background: url('https://images.unsplash.com/5/unsplash-bonus.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=13cb0047f0acd3404ba9e5294276b397') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

.tablebg {
  background: url('https://images.unsplash.com/photo-1439466654360-5e8bbd819be5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=271f23afe5cc8d4352893c145dbf6bb4') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

.state {
  color: white;
  font-size: 20px;
}

.table a.selected {
  background-color: #337ab7;
}

.table {
  color: white;
  padding: 40px;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.55);
  font-size: 20px;
}

.topics {
  font-size: 25px;
}

#states-group {
  font-size: 30px;
}

.highlight, .highlight:active, .highlight:focus, .highlight:hover {
  color: rgba(196, 77, 0, 1);
  background-color: rgba(0, 172, 255, 1);
  outline: none;
}

main {
}

main > div {
  padding-left: 60px;
}

html, body, .container {
  height:100%;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.complete {
  text-decoration: line-through;
  color: rgba(190, 190, 190, 0.9);
}

.editable-input input.input-sm {
  width: 600px;
  height: 46px;
  line-height: 1.3333333;
  font-size: 25px;
}

.container-fluid {
  margin: 0 auto;
  height: 100%;
  padding: 20px 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
