<div>
  <h2>Listing tables</h2>

  <table class="table">
    <thead>
      <tr>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= for table <- @tables do %>
      <tr>
        <td>
          <%= link obfuscate(table), to: table_path(@conn, :show, obfuscate(table)) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link "New table", to: table_path(@conn, :new), class: "btn btn-primary" %>
</div>
