<div class="container-fluid" style="display: flex; align-items: center; justify-content: center;">
  <div>
    <%= render "form.html", changeset: @changeset,
    action: table_path(@conn, :create) %>
  </div>
</div>
