<h2>Show table <%= obfuscate @table %></h2>

<h3>Topics</h3>
<ul id="topics">

</ul>
<input id="topic-input" type="text"></input>

<%= link "Edit", to: table_path(@conn, :edit, @table) %>
<%= link "Back", to: table_path(@conn, :index) %>

<input type="hidden" name="table-id" id="table-id" value="<%= obfuscate(@table) %>">
